body{
    background-color: #ee9999;
    display: flex;
    justify-content: center;
}

h1 {
  color:azure;
  text-align: center;
  margin: 4rem;
}

h5{
    color:azure;
    text-align: center;
    margin: -4rem 0 0 0;
}

p {
  color:azure;
  font-size: 20px;
}

select, input {
  font-size: 18px;
}

.sub-title {
  padding-right: 1rem;
}

.mainbody {
  display: flex;
  justify-content: center;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color:azure;
  font-size: 20px;
}

select, input {
  font-size: 18px;
}

.sub-title {
  padding-right: 1rem;
}

.mainbody {
  display: flex;
  justify-content: center;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainview{
    width: 400px;
    height: 400px;
    margin:  auto 0%;
    position: relative;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#select{
    margin: 0px 0px 0px 50px;
    position: relative;
}

#volSlider{
    height:10px;
    width:100px;
    color: gray;
}
#glassBackImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin: auto;
    z-index: 0;
}
#treeImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin:69.5% auto;
    z-index: 1;
}
#chairImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    z-index: 2;
}
#characterImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin: 24.5% auto auto 11%;
    z-index: 3;
}
#emotionImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin: 24.5% auto auto 11%;
    z-index: 4;
}
#figure2Img{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    z-index: 6;
}
#figure1Img{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    transform:scaleX(-1);
    z-index: 6;
}
#effectImg{
    display: flex;
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin: auto;
    z-index: 7;

}
#glassFrontImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin: auto;
    z-index: 8;
}
#baseImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin:77% auto;
    z-index: 9;
}

