body{
    background-color: black;
}
h1,p{
    color:azure;
}
#mainview{
    width: 400px;
    height: 400px;
    margin:  auto 0%;
    position: relative;
}
#select{
    margin: 0px 0px 0px 50px;
    position: relative;
}
#glassBackImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin: auto;
    z-index: 0;
}
#treeImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin:69.5% auto;
    z-index: 1;
}
#characterImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin:53.5% auto auto 41%;
    z-index: 4;
}
#glassFrontImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin: auto;
    z-index: 6;
}
#baseImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    margin:77% auto;
    z-index: 7;
}
#chairImg{
    display: flex;
    justify-content: center;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0; 
    z-index: 3
}