body{
    background-color: black;
}
h1,p{
    color:azure;
}
#mainview{
    margin: 100px 50px 50px 100px;
    position: relative;
}
#select{
    margin: 0px 0px 0px 100px;
}
#backglass{
    position: absolute;
    z-index: -3;
}
#tree{
    position:absolute;
    z-index: -1;
}
#character{
    margin: -141px 0px 0px 113px;
    position: absolute;
    z-index: 0;
}
#frontglass{
    position: absolute;
    z-index: 1;
}
#base{
    position: absolute;
    z-index: 2;
}
